.card {
    width: 100%;
    height: 100%;
    margin: 20px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
}

.front {
    position: absolute;
    transform: rotateY(90deg);
}

.flipped .front {
    transform: rotateY(0deg);
}