.App {
  font-family: 'Gentium Book Plus', serif;
  text-align: center;
  font-size: 150%;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: inherit;
}

.content .cardLayout {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  justify-content: center;
}

.content {
  z-index: 1;
  margin-bottom: 10px;
}

.video {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#audio {
  position: fixed;
  left: 0;
  top: 0;
}

.timePoints {
  display: flex;
  justify-content: space-evenly;
}