.App {
  text-align: center;
  background-clip: 'https://www.videezy.com/abstract/56147-sheep-walking-in-a-forest-on-a-early-morning' ;
}

.cardLayout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}